In [ ]:
!pip install pyECLAT
!pip install bio

In [ ]:
from Bio import SeqIO
import pandas as pd
from pyECLAT import ECLAT

In [ ]:
def kmer(dna_str, k):
    l = []
    for i in range(0, (len(dna_str) - (k-1))):
        l.append(dna_str[i:i+k])
    return l

In [ ]:
transactions = []
fasta_sequences = SeqIO.parse(open('seqs.fasta'),'fasta')
for fasta in fasta_sequences:
    sequence = str(fasta.seq)
    transactions.append(kmer(sequence, 2))

In [ ]:
df = pd.DataFrame(transactions)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,ac,ca,aa,ac,cg,gg,gc,cc,ca,at,...,ca,at,tc,cg,ga,None,None,None,None,None
1,gt,ta,ac,ca,ac,ct,tt,ta,ac,cc,...,ga,at,tg,gt,tt,None,None,None,None,None
2,gt,tc,ct,tg,gg,gg,gc,cc,ca,ag,...,tc,cc,cc,ca,ag,gt,tg,gt,ta,aa
3,at,tc,cc,ct,tg,gg,gc,cc,ca,ac,...,gc,cc,cc,ca,ag,gt,ta,aa,aa,ac
4,tg,ga,ag,gc,cg,gg,gc,cc,ca,ac,...,ac,cc,cc,ca,ag,gt,tc,cc,cg,gt

In [ ]:
min_n_DN = 2
min_sup = 7/len(transactions)
max_len = max([len(x) for x in transactions])

In [34]:
my_eclat = ECLAT(data=df, verbose=True)
rule_idx, rule_sup = my_eclat.fit(
    min_support = min_sup,
    min_combination = min_n_DN,
    max_combination = 5
)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 17/17 [00:00<00:00, 61.27it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 17/17 [00:00<00:00, 49378.93it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 17/17 [00:00<00:00, 1966.66it/s]

Combination 2 by 2

120it [00:01, 101.47it/s]

Combination 3 by 3

560it [00:04, 127.39it/s]

Combination 4 by 4

1820it [00:15, 115.45it/s]

Combination 5 by 5

4368it [00:41, 104.66it/s]

In [ ]:
{k: v for k, v in sorted(rule_sup.items(), key=lambda item: item[1], reverse=True)}

In [38]:
import json
json.dump({k: v for k, v in sorted(rule_sup.items(), key=lambda item: item[1], reverse=True)}, open("res.json", 'w' ) )